LudoApp/LudoApp/Service References/proxy/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LudoService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LudoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LudoService/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="NbOfPawns" type="xs:int" />
      <xs:element minOccurs="0" name="NbOfPoints" type="xs:int" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pawns" nillable="true" type="tns:ArrayOfPawn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="ArrayOfPawn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pawn" nillable="true" type="tns:Pawn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPawn" nillable="true" type="tns:ArrayOfPawn" />
  <xs:complexType name="Pawn">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllFinish" type="xs:boolean" />
      <xs:element minOccurs="0" name="AttachedPlayer" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="EndPosition" type="xs:int" />
      <xs:element minOccurs="0" name="Finished" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="InitialLocation" type="q1:Point" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="PawnColor" type="q2:Color" />
      <xs:element minOccurs="0" name="PawnID" type="xs:int" />
      <xs:element minOccurs="0" name="StartPosition" type="xs:int" />
      <xs:element minOccurs="0" name="currentPosition" type="xs:int" />
      <xs:element minOccurs="0" name="getColorString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pawn" nillable="true" type="tns:Pawn" />
</xs:schema>